body{
    background:#0F2027;
    background:-webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    color: white;
    margin: 0;
    padding: 20px;
}

#setup-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    max-width: 500px;
    z-index: 1000;
}

#main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
}

#channel-input {
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    width: 250px;
    border-radius: 5px;
    border: none;
}

.share-link-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 10px;
}

#share-link {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 14px;
    cursor: text;
    max-width: 500px;
}

/* #video-streams {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    flex-grow: 1;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    gap: 20px;
    height: 100%;
} */

/* .video-container {
    width: 100%;
    height: 100%;
    min-height: 300px;
    border: 2px solid black;
    background-color: #203A49;
    border-radius: 8px;
    overflow: hidden;
} */

.video-player {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

button {
    border: none;
    background-color: cadetblue;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4f9999;
}

#stream-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

/* ffffffffffffff */

#video-streams {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Toujours 3 colonnes */
    gap: 20px; /* Espace entre les éléments */
    width: 100%;
}

#video-streams > .video-container { /* Assure-toi que tes éléments ont la classe .video-item */
    position: relative;
    width: 100%;
    aspect-ratio: 1; /* Assure que chaque élément est un carré */
    background-color: #f0f0f0; /* Exemple de couleur de fond */
}

@media screen and (max-width: 1400px) {
    #video-streams {
        grid-template-columns: repeat(3, 1fr); /* Toujours 3 colonnes */
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .share-link-container {
        flex-direction: column;
    }
    
    #share-link {
        max-width: 100%;
    }
}