.trois{
  background-color: #EFF7FF !important; 
  overflow-x: hidden !important; 
  box-sizing: border-box; 
  height: 100% !important;
  background-size: cover;
}

.right1{
  padding: 2rem;
}

.inline-text {
    display: flex; /* Utilise flexbox pour aligner les éléments horizontalement */
    align-items: center; /* Aligne verticalement les éléments */
  }
  
  .hr-container {
    flex-grow: 1; /* L'élément <span> va prendre toute la largeur disponible */
    margin-left: 10px; /* Ajoute un petit espace entre le texte et l'hr */
  }
  
  .julio {
    border: 0; /* Retirer la bordure par défaut */
    border-top: 5px solid #28A745; /* Définir l'épaisseur et la couleur de la bordure */
    width: 35%; /* L'hr prend toute la largeur disponible dans son conteneur */
    margin: 0; /* Retirer la marge par défaut */
    background: #28A745 !important;
  }

  .checkbox-container {
    /* Fond noir pour le conteneur */
    padding: 10px;
    display: flex;
    align-items: center; /* Aligner le texte et le checkbox horizontalement */
    border-radius: 5px;
    color: white; /* Couleur du texte en blanc */
  }
  
  .custom-checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: #000 !important;
  }
  
  .checkbox-label {
    font-size: 16px;
    color: #000;
  }

  
  
  .link {
    color: #000; /* Couleur du lien */
    
  }
  
  .link:hover {
    text-decoration: underline; /* Souligner le lien au survol */
  }
  

  /* Section gauche avec l'image de fond */
.lefte1 {
  background-image: url('../images/Group%20208.png'); /* Utilisez %20 pour les espaces */
  background-size: cover; /* L'image couvre toute la zone */
  background-position: center; 
  /* width: 50%;
  height: 100%;  */
  padding: 0;
  margin: 0;

}

/* Texte principal */
.ninas1 {
  font-size: 32px;
  font-weight: 500;
  color: black;
  text-align: end; /* Centre le texte */
  
  /* margin: 20px 0; */
}

/* Texte en vert */
.toy1 {
  color: #28A745;
}

/* Image ajustée */
.Morije1 {
  position: absolute;
  width: 60%;
  height: 80vh;
  object-fit: cover;
  left: 50%;
  top: 20%;
  filter: 0px 13px 61px rgba(48, 48, 48, 0.366013);
}

/* Classe cachée sur les mobiles */
@media (max-width: 768px) {
  .right1 {
    margin:  auto;
    text-align: center;
  }

    .when1{
      display: flex !important;
      justify-content:center !important;
      align-items: center !important;
      margin-left: 3rem !important;
    }
}


 
  
  