/* Global styles */
.bodya , body,html {
  background-color: #EFF7FF !important; 
  overflow: hidden !important; 
  box-sizing: border-box; 
  height: 100% !important;
  width: 100%;
  background-size: cover;
}

/* .right{
    padding: 20px;
} */

.vyne{
  background-color: #28A745 !important;
  color: #fff !important;
  padding: 10px !important;
}

/* .form{
  margin: 50px;
} */

.dill{
  color: #0056B3;
}

.cecile{
  position: relative;
}
.unit{
  position: absolute;
  top:15px;
  left: 90%;
  color: #0056B3;
}

.geste{
  border:3px solid #0056B3 !important;
  background-color:#EFF7FF !important ;
}
.club{
  padding: 14px !important;
  border:3px solid #0056B3 !important;
  background-color:#EFF7FF !important ;
}

.cirus{
  text-decoration: none;
  color: #28A745;
  font-weight: bold;
}

/* Section gauche avec l'image de fond */
.lefte {
  background-image: url('../images/Group%20208.png'); /* Utilisez %20 pour les espaces */
  background-size: cover; /* L'image couvre toute la zone */
  background-position: center; /* Centrage */
  width: 60%;
  height: 100vh; 
  padding: 0;
  margin: 0;

}

/* .into{
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/* Texte principal */
.ninas {
  font-size: 32px;
  font-weight: 500;
  color: black;
  margin: 20px 0;
  text-align: left !important;
}

/* Texte en vert */
.toy {
  color: #28A745;
}

/* Image ajustée */
.into .Morije{
  position: absolute;
  right: 50;
  width: 50%;
  height: 70vh;
  display: flex;
  justify-content: end  !important;
}

/* Classe cachée sur les mobiles */
@media (max-width: 768px) {
 

  .right {
    margin:  auto;
    text-align: center;
  }

    .when{
      display: flex !important;
      justify-content:center !important;
      align-items: center !important;
      margin-left: 3rem !important;
    }
}